.control-header {

    margin-bottom: 20px;

}

// @media screen and (max-width: 576px) {

//     header {

//         height: 80px !important;
        
//         .d-title {

//             float: none !important;

//         }
//         .d-menu {

//             position: relative;
//             top: 4px;
//             left: 10px;
//             float: none !important;

//         }
//     }

// }

.header {

    padding: 10px 20px;
    height: 50px;
    overflow: hidden;
    
}

.d-title {

    display: block;
    // Button (home stay left)
    // float: left;

    // Button (home center) 5.6.20
    margin: 0 auto;
    max-width: 141px;
    
    .title {

        display: inline;
        padding: 6px 16px;
        outline: none;
        border: 1px solid rgba(160, 160, 160, 0.308);
        border-radius: 999px;
        
        line-height: 30px;
        font-size: 1.3rem;
        font-weight: bold;
        text-decoration: none;
        text-align: center;

        // font-family: 'NoteDEV';
        // padding: 0 16px;
        // Hidden Profile and About

        color: #343a40;
        box-shadow: 0 0 4px #3838383b;

    }
}

.d-menu {

    position: relative;
    top: -5px;
    float: right;
    
    display: block;

    .nav-list {

        display: flex;
        flex-direction: row;
        list-style-type: none;

        padding: 5px 0;

        .nav-item {

            font-size: 1rem;
            text-decoration: none;
            font-weight: bold;

            color: #353535;
            
            &:hover {

                color: #0097c5;

            }
            
            li {

                margin: 2px 5px;
                border: 1px solid #b3b6bb2b;
                border-radius: 4px;
                padding: 5px 8px;
                
                box-shadow: 2px -2px 6px #c3c1c142;

            }
        }
        .active-nav-item {

            color: #1900ff;
            
        }
    
    }
}
