// https://www.happyhues.co/
// Element

// Array color (ERROR)!!!
// $theme-color: #fffffe, #6246ea, #2b2c34, #fffffe, #2b2c34, #2b2c34, #d1d1e9, #fffffe, #e45858, #6246ea;

// @each $color in $theme-color {
//     $background: $color;
//     $button: $color;
//     $buttonText: $color;
//     $headLine: $color;
//     $paragraph: $color;
//     $stroke: $color;
//     $main: $color;
//     $highline: $color;
//     $secondary: $color;
//     $tertiary: $color;
// }

$background:  #f8f9fa;
$button:  #007bff;
$buttonText:  #000;
$headLine:  #fff;
$paragraph:  #1b2d45;

// Illustration
$stroke:  #fff;
$main:  #3c4858;
$highline:  #007bff;
$secondary:  #3c4858;
$tertiary:  #e83e8c;